Repository brunathie/mobileapp, changes with the owners that docs/CODEOWNERS names for each.
All owners: @willsb, @arturs105, @simonrozsival, @amulware

docs/CODEOWNERS:

# MvvmCross specific files
App.cs        @willsb
Presentation/ @willsb
Startup/      @willsb
Combiners/    @willsb @arturs105
Binding/      @willsb @arturs105

# Realm stuff
/Toggl.PrimeRadiant.Realm/*.cs @simonrozsival @willsb

# Sync algorythm
/Toggl.Foundation/Sync/ @amulware @simonrozsival

# Ze docs
/docs/ @amulware

# This file has too many specifics, so I'd better always review it
/Toggl.Daneel/Views/TimeEntryTagsTextView.cs @willsb

:construction: Add string length extensions
  Toggl.Multivac/Extensions/StringExtensions.cs
Owners: none

:lipstick: Rename string extensions
  Toggl.Multivac/Extensions/StringExtensions.cs
Owners: none

:sparkles: Add character counter to description editing
  Toggl.Daneel/Binding/TextViewWithCounterCountedTextTargetBinding.cs
  Toggl.Daneel/Extensions/ViewBindingExtensions.cs
  Toggl.Daneel/Extensions/ViewBindingExtensions.tt
  Toggl.Daneel/Startup/SetupTargetFactories.cs
  Toggl.Daneel/Startup/SetupTargetFactories.tt
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.designer.cs
  Toggl.Daneel/ViewControllers/EditTimeEntryViewController.xib
  Toggl.Daneel/ViewControllers/OnboardingViewController.cs
  Toggl.Daneel/Views/TextViewWithCounter.cs
  Toggl.Foundation.MvvmCross/Helper/Color.cs
Owners: @willsb, @arturs105

:construction: Unsubscribe from event
  Toggl.Daneel/Binding/TextViewWithCounterCountedTextTargetBinding.cs
Owners: @willsb, @arturs105

:construction: Use Raise() instead of Invoke()
  Toggl.Daneel/Views/TextViewWithCounter.cs
Owners: none

:lipstick: Add comment
  Toggl.Daneel/Views/TextViewWithCounter.cs
Owners: none

:construction: Use the signup endpoint
  Toggl.Ultrawave.Tests.Integration/Helper/User.cs
Owners: none

:dragon: Fix scroll tag recalculations
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.xib
Owners: none

:construction: Move specific extensions to different file
  Toggl.Daneel/Extensions/StartTimeEntryExtensions.cs
  Toggl.Daneel/Extensions/TextExtensions.cs
  Toggl.Daneel/Toggl.Daneel.csproj
Owners: none

:dragon: Fix token wrapping
  Toggl.Daneel/Binding/TextViewTextInfoTargetBinding.cs
  Toggl.Daneel/Extensions/StartTimeEntryExtensions.cs
Owners: @willsb, @arturs105

:dragon: Fix token offsetting
  Toggl.Daneel/Binding/TextViewTextInfoTargetBinding.cs
  Toggl.Daneel/Extensions/StartTimeEntryExtensions.cs
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.xib
  Toggl.Daneel/Views/TimeEntryTagsTextView.cs
Owners: @willsb, @arturs105

:dragon: Fix multi-line tokens
  Toggl.Daneel/Extensions/StartTimeEntryExtensions.cs
Owners: none

:dragon: Refactor tokens to use NSTextAttachment
  Toggl.Daneel/Binding/TextViewTextInfoTargetBinding.cs
  Toggl.Daneel/Extensions/TokenExtensions.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/TokenTextAttachment.cs
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.xib
  Toggl.Daneel/Views/TimeEntryTagsTextView.cs
  Toggl.Foundation.MvvmCross/Helper/Color.cs
Owners: @willsb, @arturs105

:fire: Clean up token related code
  Toggl.Daneel/Extensions/TextExtensions.cs
Owners: none

:green_heart:
  Toggl.Daneel/ViewControllers/StartTimeEntryViewController.designer.cs
Owners: none

:bug: Fix suggestion checking
  Toggl.Foundation.MvvmCross/ViewModels/StartTimeEntryViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/StartTimeEntryViewModelTests.cs
Owners: none

:sparkles: Add access resttriction storage interface
  Toggl.PrimeRadiant/IAccessRestrictionStorage.cs
  Toggl.PrimeRadiant/Toggl.PrimeRadiant.csproj
Owners: none

:sparkles: Inject access restriction storage into login view model
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
Owners: none

:construction: Use switch statement
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
Owners: none

:construction: Add WIP cases for deprecation exceptions
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
Owners: none

:white_check_mark: Fix constructor test
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
Owners: none

:white_check_mark: Add unit tests
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
Owners: none

:sparkles: Inject access restriction storage to MainViewModel
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
Owners: none

:sparkles: Catch syncing errors (wip)
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
Owners: none

:construction: Fix constructor test
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
Owners: none

:construction: Check for access restriction right after app start
  Toggl.Foundation.MvvmCross/App.cs
Owners: @willsb

:white_check_mark: Add tests
  Toggl.Foundation.Tests/MvvmCross/AppStartTests.cs
Owners: none

:white_check_mark: Add tests for error handling in MainViewModel
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
Owners: none

:construction: Show the update app view first
  Toggl.Foundation.MvvmCross/App.cs
  Toggl.Foundation.Tests/MvvmCross/AppStartTests.cs
Owners: @willsb

:white_check_mark: wip
  Toggl.Foundation.Tests/MvvmCross/AppStartTests.cs
Owners: none

:green_heart:
  Toggl.Daneel/Startup/Setup.cs
Owners: @willsb

:construction: Use the OutdatedAppViewModel
  Toggl.Foundation.MvvmCross/App.cs
  Toggl.Foundation.MvvmCross/ViewModels/LoginViewModel.cs
  Toggl.Foundation.MvvmCross/ViewModels/MainViewModel.cs
  Toggl.Foundation.Tests/MvvmCross/AppStartTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/LoginViewModelTests.cs
  Toggl.Foundation.Tests/MvvmCross/ViewModels/MainViewModelTests.cs
Owners: @willsb

:fire:
  Toggl.Foundation.MvvmCross/App.cs
Owners: @willsb

:fire:
  Toggl.Daneel/Extensions/TextExtensions.cs
Owners: none

:lipstick:
  Toggl.Daneel/Extensions/TokenExtensions.cs
  Toggl.Daneel/TokenTextAttachment.cs
Owners: none

:construction: Use UnicodeSafeSubstring
  Toggl.Daneel/Extensions/TokenExtensions.cs
Owners: none

:construction: Use SelectedRange directly for position checking
  Toggl.Daneel/Binding/TextViewTextInfoTargetBinding.cs
Owners: @willsb, @arturs105

:green_heart:
  Toggl.Daneel/Toggl.Daneel.csproj
Owners: none

:mag: Fix selecting text
  Toggl.Daneel/Binding/TextViewTextInfoTargetBinding.cs
Owners: @willsb, @arturs105

:new: Migrate projects to netstandard 2.0
  Toggl.Daneel/LinkerPleaseInclude.cs
  Toggl.Daneel/Toggl.Daneel.csproj
  Toggl.Daneel/packages.config
  Toggl.Foundation.MvvmCross/Properties/AssemblyInfo.cs
  Toggl.Foundation.MvvmCross/Toggl.Foundation.MvvmCross.csproj
  Toggl.Foundation.Tests/Toggl.Foundation.Tests.csproj
  Toggl.Foundation/Properties/AssemblyInfo.cs
  Toggl.Foundation/Toggl.Foundation.csproj
  Toggl.Multivac.Tests/EmailTests.cs
  Toggl.Multivac.Tests/Properties/AssemblyInfo.cs
  Toggl.Multivac.Tests/Toggl.Multivac.Tests.csproj
  Toggl.Multivac/Properties/AssemblyInfo.cs
  Toggl.Multivac/Toggl.Multivac.csproj
  Toggl.PrimeRadiant.Realm/Properties/AssemblyInfo.cs
  Toggl.PrimeRadiant.Realm/Toggl.PrimeRadiant.Realm.csproj
  Toggl.PrimeRadiant.Tests/Properties/AssemblyInfo.cs
  Toggl.PrimeRadiant.Tests/Toggl.PrimeRadiant.Tests.csproj
  Toggl.PrimeRadiant/Properties/AssemblyInfo.cs
  Toggl.PrimeRadiant/Toggl.PrimeRadiant.csproj
  Toggl.Ultrawave.Tests.Integration/Properties/AssemblyInfo.cs
  Toggl.Ultrawave.Tests.Integration/Toggl.Ultrawave.Tests.Integration.csproj
  Toggl.Ultrawave.Tests/Properties/AssemblyInfo.cs
  Toggl.Ultrawave.Tests/Toggl.Ultrawave.Tests.csproj
  Toggl.Ultrawave/Properties/AssemblyInfo.cs
  Toggl.Ultrawave/Toggl.Ultrawave.csproj
  Toggl.Ultrawave/TogglApi.cs
  Toggl.sln
Owners: none
